<include file="Common:head" title="前台导航栏"/>
<!-- 轮播图 -->
<div class="swiper-container-index">
    <div class="swiper-wrapper">
        <foreach name="image" item="vo" key="k">
            <div class="swiper-slide">
                <img src="{$vo.picture}" alt="轮播图">
                <div class="carousel-caption">
                </div>
            </div>
        </foreach>
    </div>
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<!-- 内容区域 -->
<div class="container-fluid" id="content-area">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 file_down" id="download-left">
                    <div class="infomation-title">
                        <span class="infomation-title-icon"></span>
                        <span class="infomation-title-text">资料下载</span>
                        <a class="title-more" href="/Home/Information/file">更多</a>
                    </div>
                    <ul style="list-style-type: disc;" class="list-group">
                        <foreach name="file" item="vo">
                            <li class="list-group-item">
                                <span title="{$vo.filename}" class="list-left-title"><span class="fake-downname hvr-underline-from-right">{$vo.filename}</span><span class="fake-download"><a href="{$vo['save_path']}" download="{$vo['filename']}">[下载]</a></span></span>
                            </li>
                        </foreach>
                    </ul>
                </div>
                <div class="col-md-8 information-news">
                    <div id="news-warp">
                        <div class="infomation-title">
                            <span class="infomation-title-icon"></span>
                            <span class="infomation-title-text">新闻中心</span>
                            <a class="title-more" href="/Home/Information/news">更多</a>
                        </div>
                        <div class="swiper-container-news" style="overflow:hidden;">
                            <div class="swiper-wrapper">
                                <foreach name="news_pic" item="vo" key="k">
                                    <div class="swiper-slide">
                                        <img style="width:280px;height:200px;" src="{$vo.information_pic_path}" alt="新闻图片">
                                    </div>
                                </foreach>
                            </div>
                        </div>
                        <ul class="list-group news-list">
                            <foreach name="news" item="vo">
                                <li class="list-group-item">
                                    <a class="list-left-title hvr-underline-from-right" href="{:U('/Home/Information/newDetail')}?type={$vo.type}}&id={$vo['id']}" title="{$vo.title}">{$vo.title}</a>
                                    <span class="list-left-date">[{$vo.save_time}]</span>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                        
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 quality-server">
                    <div class="infomation-title" style="overflow: hidden;">
                        <div>
                            <span class="infomation-title-icon"></span>
                            <span class="infomation-title-text">质检服务</span>
                            <a class="title-more" href="/Home/Information/process">更多&gt;</a>
                        </div>
                    </div>
                    <ul class="list-group quality-list">
                        <foreach name="list" item="vo">
                            <li class="list-group-item">
                                <a title="砂浆及其原材料" class="list-left-title hvr-underline-from-right" href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num={$vo.cate_num}">{$vo.cate_name}</a>
                            </li>
                        </foreach>
                    </ul>          
                </div>
                <div class="col-md-5 standard-word">
                    <div id="standard-warp">
                        <div class="infomation-title">
                            <span class="infomation-title-icon"></span>
                            <span class="infomation-title-text">标准化工作</span>
                            <a class="title-more" href="/Home/Information/standard">更多&gt;</a>
                        </div>
                        <ul class="list-group">
                            <foreach name="standard" item="vo">
                                <li class="list-group-item">
                                    <a class="list-left-title hvr-underline-from-right" href="{:U('/Home/Information/standardDetail')}?type={$vo.type}&id={$vo['id']}">{$vo.title}</a>
                                    <span class="list-left-date">[{$vo.save_time}]</span>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 query-index">
            <div class="report-query-index">
                <div class="infomation-title">
                    <span class="infomation-title-icon"></span>
                    <span class="infomation-title-text">报告查询</span>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="department" class="col-sm-4 control-label">受检单位</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="centerNum" class="col-sm-4 control-label">中心编号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="centerNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="button" class="btn btn-primary search-btn" onclick="handleSubmit()">查询</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-xs-12 query-phone-warp" id="query-phone-warp-top" style="text-align:center;padding:0;">
                            <label class="report-query-phone">真伪查询电话：</label>
                        </div>
                        <div class="col-sm-6 col-xs-12 query-phone-warp" id="query-phone-warp-bottom" style="text-align:center;font-weight: bold;padding: 0;">
                            <label class="report-query-phone">010-51164716</label>
                        </div>
                    </div>
                    <p class="result" style="display: none;"></p>
                </form>
            </div>
            <div class="scope-query-index">
                <div class="infomation-title" style="padding-left: 15px;">
                    <span class="infomation-title-icon"></span>
                    <span class="infomation-title-text">质检范围查询</span>
                </div>
                <div class="input-group search-scope">
                    <input id="searchText" type="text" class="form-control" placeholder="请输入检索关键字...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="handleSearch()">搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 实验室风采 -->
<div class="container-fluid" id="lab-sence" style="z-index:-1;">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text" style="color: #000;">实验室风采</span>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <foreach name="lab_picture" item="vo">
                        <div class="swiper-slide" style="width: 300px; height: 200px; background-size: cover;">
                            <img style="width: 300px; height: 200px; background-size: cover;z-index: -1;" src="{$vo.information_pic_path}" type="button" data-toggle="modal" data-target="#imgPreModal" data-whatever="{$vo.pic_path}" alt="..." onerror="onerror=null;src='__PUBLIC__/picture/logoo.png'" />               
                        </div>
                    </foreach>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="imgPreModal" role="dialog" data-backdrop="false" aria-labelledby="imgPreModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="imgPreModalLabel">实验室风采</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <img style="width: 600px; height: 400px; display: inline-block; margin: 0 auto;z-index: 500;" class="showPreImg" src="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function handleSearch(){
        var searchValue = $("#searchText").val();
        console.log("searchValue", typeof searchValue)

        $.ajax({
            type:"post",
            url:"{:U('/Home/Information/searchIns')}",
            data:{"type": "A", "word": searchValue},
            dataType:"json",
            success:function(ret){
                if(ret.msg === 'succ'){
                   window.location.href="{:U('/Home/Information/scopeDetail')}?type=A&word="+searchValue
                }else{
                   window.confirm(ret.msg)
                }
            }
        });
    }

    function handleSubmit () {
        var department = $("#department").val(),
            centerNum = $("#centerNum").val(),
            code = $("#code").val();
            $.ajax({
                type:"post",
                url:"{:U('/Home/Information/doQuery')}",
                data:{"unit": department, "code": centerNum},
                dataType:"json",
                success:function(ret){
                    if(ret.msg=='succ'){
                       var result = $(".result")[0],
                            downloadLink = ret.data.content;
                       console.log('result',$(".result")[0])
                       console.log('result=====', $(".result").append(downloadLink))
                       $(".result").append(downloadLink)
                       console.log('result', $(".result"))
                       console.log("first", $(".result > a")[0])
                       $(".result > a")[0].click()
                       $(".result > a")[0].remove();
                    }else{
                        window.confirm(ret.msg)
                    }
                }
            });
    }
    function handleRoute(){
        window.location.href="/Admin"
    }

    window.addEventListener('scroll', function() {
        var clientHeight = document.documentElement.clientHeight;
        console.log('clientHeight', clientHeight)
        var scrollTop = $(window).scrollTop()
        console.log('scrollTop', scrollTop)
        var featureTop = $("#lab-sence img").offset().top;
        console.log('featureTop', featureTop)
    })

	$('#lab-sence img').mouseover(function(e){
        var tooltip = "<div id='tooltip'><img src='"+ this.src +"' alt='风采预览' style='display:block;width:600px;height:400px;'/></div>";
        console.log(this)
        $('#lab-sence').append(tooltip);

        // 获取三个高度
        var scrollTop = document.documentElement.scrollTop;
        var clientHeight = document.documentElement.clientHeight;
        var featureTop = $("#lab-sence img").offset().top;

        var x = e.offsetX;
        var y = e.offsetY;
        console.log('x', x)
        console.log('y', y)

        console.log('clientHeight', clientHeight)
        console.log('scrollTop', scrollTop)
        console.log('featureTop', featureTop)

        if((featureTop - scrollTop)>(clientHeight/2)){
            console.log("元素在下半部")
            console.log($("#tooltip")
                .css({
                    "top":(e.pageY - 400) + "px",
                    "left":(e.pageX - 600) + "px"
                }))
            $("#tooltip") .css({
                    "top":(e.pageY - 400) + "px",
                    "left":(e.pageX - 600) + "px",
                    "z-index": 999
                }).show("fast");
        }else{
            console.log('元素在上半部')
            $("#tooltip")
                .css({
                    "top": (e.pageY) + "px",
                    "left":  (e.pageX)  + "px",
                    "z-index": 999
                }).show("fast");
        }
    }).mouseout(function(){ 
        $("#tooltip").remove();  //移除 
    })
    $('#lab-sence img').mousemove(function(e){
        // 获取三个高度
        var scrollTop = document.documentElement.scrollTop;
        var clientHeight = document.documentElement.clientHeight;
        var featureTop = $("#lab-sence img").offset().top;

        console.log('clientHeight', clientHeight)
        console.log('scrollTop', scrollTop)
        console.log('featureTop', featureTop)

        if((featureTop - scrollTop)>(clientHeight/2)){
            console.log("元素在下半部")
            $("#tooltip") .css({
                    "top":(e.pageY - 400 - 30) + "px",
                    "left":(e.pageX - 600 - 30) + "px",
                    "z-index": 999
                }).show("fast");
        }else{
            console.log('元素在上半部')
            $("#tooltip")
                .css({
                    "top": (e.pageY + 30) + "px",
                    "left":  (e.pageX + 30)  + "px",
                    "z-index": 999
                }).show("fast");
        }
    })
</script>
<include file="Common:footer"/>

