<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th width="70%">收样员名称</th>
            <th >操作</th>
            </thead>
            <tbody>
            <volist name="list" id="one">
                <tr>
                    <td >{$one.username}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{:U('/admin/sample/zyDoneDetail')}?username={$one.username}"><i class="glyphicon glyphicon-cog"></i>查看</a>
                    </td>
                </tr>
            </volist>
            </tbody>

        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
        <!-- main end-->
    </div>

</div>



<include file="Common:footer" />